'scopeName': 'source.mocodo'
'name': 'Mocodo'
'fileTypes': [
	'mcd'
	'mocodo'
]

'patterns': [
	{
		'begin': '^'
		'end': ':'
		'patterns': [
			{
				'begin': '\\['
				'end': '\\]'
				'name': 'string.unquoted.mocodo'
			}
			{
				'match': '_?[01][1N][><]?'
				'name': 'constant.numeric.mocodo'
			}
			{
				'match': '\\w'
				'name': 'entity.name.function.mocodo'
			}
		]
	}
]
